openapi: 3.0.3
info:
  title: Bullbustin + Showpass account integration API
  version: 1.3.0
  contact:
    name: Showpass integrations team
  description: >-
    Integration reference for Bullbustin: public discovery, organization orders and tickets, patron accounts,
    ticket scanning, tracking links, discounts, access passwords, held baskets and hold links, and webhooks.


    ### Authentication by API group


    * Public catalog and discovery: no API token. Browser origins must be allowlisted in Showpass.

    * Private organization, ticket scanning, tracking links, discounts, and access passwords: send
    `Authorization: Token <organization-api-key>` for the venue in the URL.

    * Patron account operations: send `Authorization: JWT <access-token>` after patron authentication.

    The selected server is the demo environment. Use credentials and IDs for that environment. Optional
    capabilities require the corresponding Showpass venue configuration.


    ### Webhooks


    Showpass sends HTTP POST notifications to the HTTPS receiver configured by Bullbustin. Configure it in
    **Organization Settings > Webhooks > Add Endpoint**, select the events, save, and retrieve the endpoint
    Secret Key. Use **Send Test** to verify delivery. The endpoint can be edited, paused, resumed, or deleted
    in the same dashboard.


    | Event | Meaning |

    | --- | --- |

    | `invoice.purchase` | A successful purchase. |

    | `invoice.refund` | A refund. |

    | `invoice.void` | A voided transaction. |

    | `invoice.transfer` | New invoice and ticket records for the transfer recipient. |

    | `invoice.transferred` | Updated invoice and ticket records for the original purchaser. |

    | `webhook.test` | A dashboard test delivery. |


    #### Verify the webhook signature


    Read `X-SHOWPASS-SIGNATURE` and compare it in constant time to the hexadecimal HMAC SHA1 of the **root
    payload `id`, converted to a UTF-8 string**, using the webhook endpoint Secret Key. The signed input is
    the root ID; the signature does not cover the full JSON body, `data`, or `webhook_event_uuid`.


    ```python

    import hashlib

    import hmac


    def verify_showpass_webhook(payload, received_signature, secret):
        if not isinstance(payload, dict) or payload.get("id") is None:
            return False
        if not isinstance(received_signature, str):
            return False
        if len(received_signature) != 40 or any(
            ch not in "0123456789abcdef" for ch in received_signature
        ):
            return False
        expected = hmac.new(
            secret.encode("utf-8"),
            str(payload["id"]).encode("utf-8"),
            hashlib.sha1,
        ).hexdigest()
        return hmac.compare_digest(expected, received_signature)
    ```


    #### Delivery, deduplication, and recovery


    After signature verification, durably persist the event before acknowledging it with a 2xx response.
    Deduplicate by `webhook_event_uuid`, not the transaction ID: different events can concern the same order.
    A repeated event should be acknowledged without repeating its business effects. Process longer work
    asynchronously; the sender has a 10 second timeout.


    Inspect **Organization Settings > Webhooks > Events** for payloads and attempts, and the **Logs** views
    for HTTP responses and failures. Resend failed events after correcting receiver issues. Reconcile any
    delivery gaps with the private organization invoice and ticket endpoints. Secret regeneration invalidates
    the previous key; coordinate updating the receiver. Resends use the current endpoint secret.


    #### Payload


    The envelope contains `id`, `event_type`, `webhook_event_uuid`, and `data`. Invoice notifications include
    transaction and organization identifiers, customer and payment details, totals, `ticket_items`, and
    `invoice_items`. See the **WebhookEnvelope**, **WebhookInvoice**, **WebhookTicketItem**, and
    **WebhookInvoiceItem** schemas below. Test deliveries can have a different `data` shape.


    For the complete field table and dashboard instructions, see [invoice
    payloads](https://dev.showpass.com/webhooks/webhooks-payload-invoice-object),
    [setup](https://dev.showpass.com/webhooks/webhooks-setup-and-management), and [delivery
    logs](https://dev.showpass.com/webhooks/webhooks-logging-and-troubleshooting).
servers:
  - url: https://demo.showpass.com
    description: Demo
externalDocs:
  description: Showpass embedded purchase SDK documentation
  url: https://dev.showpass.com/sdk/02-ticket-purchase-widget
tags:
  - name: Authentication
  - name: Public catalog
  - name: Private organization API
  - name: Historical account
  - name: Memberships
  - name: Order actions
  - name: Ticket scanning
    description: >-
      Verify a ticket code, then create a pickup, return, or void scan history. Returning a scan restores
      entry eligibility; it does not refund the order.
  - name: Tracking links
    description: >-
      Manage campaign, employee, affiliate, venue, and quick purchase links. Only quick purchase links can be
      updated; links with completed purchases cannot be deleted.
  - name: Discounts
    description: >-
      Create checkout discount codes and eligible auto discounts. Codes are unique per venue,
      case-insensitively. Used discounts lock their code, amount, and percentage. DELETE soft-deletes the
      discount.
  - name: Access passwords
    description: >-
      Manage event and ticket type access codes. Set an active start time for immediate use. Purchase limits
      count ticket quantity. Matching is case-insensitive; password_use_count is an event attachment count,
      not a redemption count.
  - name: Held baskets and hold links
    description: >-
      Create hold links, edit baskets and holds, split held inventory, send individual or bulk emails, and
      manage dynamic hold settings, expiry, or release. Expand Create a basket for a hold for the creation
      workflow. Access is scoped to the venue and caller permissions.
x-organization-integration:
  description: >-
    Use the private venue API for an organization-owned Bullbustin integration. The organization API token is
    sent as `Authorization: Token <organization-api-key>` and is scoped to the venue in the URL. This flow
    does not require a patron JWT or patron login.
  base_url: https://demo.showpass.com
  event_list: /api/venue/{venue_id}/events/
  invoice_list: /api/venue/{venue_id}/financials/invoices/
x-embedded-purchase:
  description: Use the hosted Showpass SDK/widget for ticket selection, assigned seating, payment, and issuance.
  sdk_example: showpass.tickets.eventPurchaseWidget("bullbustin-event-slug");
  widget_urls:
    - /widget/tickets/events/purchase/{event-slug}/
    - /widget/tickets/events/calendar/{venue-id}/
    - /widget/calendar/venue/{venue-id}/
    - /widget/tickets/products/purchase/{product-id}/
    - /widget/tickets/memberships/{membership-id}/
x-webhook-integration:
  description: >-
    Bullbustin supplies an HTTPS receiver and configures purchase, refund, void, transfer, and transferred
    notifications in Showpass. See the visible Webhooks guide and WebhookEnvelope schema.
  requirements:
    - >-
      Verify X-SHOWPASS-SIGNATURE as a hexadecimal HMAC SHA1 of the root payload id converted to a UTF-8
      string, using the endpoint Secret Key.
    - Persist and deduplicate each delivery before acknowledging it.
    - Reconcile with private organization order and ticket reads after downtime.
    - Do not use webhook delivery as a replacement for private historical order reads.
x-recommended-flow:
  - Use the private organization event endpoint to find the Showpass event ID.
  - Open the hosted purchase widget through the Showpass SDK when Bullbustin needs to sell tickets.
  - Read organization orders with the private invoice endpoint, filtered by email, user ID, or event ID.
  - Follow `next` on every paginated response.
  - Subscribe to venue-configured notifications and reconcile after any delivery gap.
security: []
paths:
  /api/auth/login/:
    post:
      tags:
        - Authentication
      operationId: login
      summary: Authenticate a Showpass patron
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authenticated patron and tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
  /api/auth/registration/:
    post:
      tags:
        - Authentication
      operationId: register
      summary: Register a Showpass patron account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationRequest'
      responses:
        '200':
          description: Registered patron and tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
  /api/auth/jwt/refresh/:
    post:
      tags:
        - Authentication
      operationId: refreshJwt
      summary: Refresh an access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Refreshed access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JwtResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/auth/profile/:
    get:
      tags:
        - Authentication
      operationId: getProfile
      summary: Get the authenticated patron profile
      security:
        - JwtAuth: []
      responses:
        '200':
          description: Patron profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/public/events/:
    get:
      tags:
        - Public catalog
      operationId: listPublicEvents
      summary: List public events
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: q
          in: query
          schema:
            type: string
        - name: starts_on__gte
          in: query
          schema:
            type: string
            format: date-time
        - name: ends_on__lte
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Public event page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEvents'
  /api/public/events/{slugOrId}/:
    get:
      tags:
        - Public catalog
      operationId: getPublicEvent
      summary: Get one public event
      parameters:
        - $ref: '#/components/parameters/SlugOrId'
      responses:
        '200':
          description: Public event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/venue/{venueId}/events/:
    get:
      tags:
        - Private organization API
      operationId: listOrganizationEvents
      summary: List events for the organization
      description: >-
        Lists events owned by the organization identified by `venueId`. Use the numeric event `id` as
        Bullbustin's primary external event key; `slug` is an additional URL-friendly reference. The
        organization token cannot access another organization's events.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/VenuePageSize'
        - name: id
          in: query
          description: Return one event by numeric Showpass event ID.
          schema:
            type: integer
            minimum: 1
        - name: id__in
          in: query
          description: Return events by comma-separated numeric IDs.
          schema:
            type: string
        - name: search
          in: query
          description: Search event names.
          schema:
            type: string
      responses:
        '200':
          description: Paginated organization event page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganizationEvents'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/venue/{venueId}/events/{slugOrId}/:
    get:
      tags:
        - Private organization API
      operationId: getOrganizationEvent
      summary: Get one organization event
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/SlugOrId'
      responses:
        '200':
          description: Organization event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/venue/{venueId}/financials/invoices/:
    get:
      tags:
        - Private organization API
      operationId: listOrganizationInvoices
      summary: List organization orders
      description: >-
        Lists organization-scoped orders. This endpoint can be used to find all organization orders for a
        patron by email without authenticating the patron with Showpass. Historical, refunded, voided, and
        transferred records are returned when they remain visible to the organization. The response contains
        invoice-level fields only; it does not embed `invoice_items` or `ticket_items`. Use the invoice-items
        endpoint and the invoice tickets endpoint when those records are required.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/VenuePage'
        - $ref: '#/components/parameters/VenuePageSize'
        - name: email
          in: query
          description: Patron email associated with the order. URL-encode the value.
          schema:
            type: string
            format: email
          example: patron%40example.com
        - name: user_id
          in: query
          description: Showpass user ID associated with the order.
          schema:
            type: integer
            minimum: 1
        - name: invoice_items__event_for_filtering
          in: query
          description: Restrict results to orders containing this Showpass event ID.
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Paginated organization invoice page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganizationInvoices'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/venue/{venueId}/financials/invoices/items/:
    get:
      tags:
        - Private organization API
      operationId: listOrganizationInvoiceItems
      summary: List invoice line items
      description: >-
        Lists the accounting line items for organization invoices. Pass the numeric invoice `id` returned by
        the organization invoice endpoint in the `invoice` query parameter. These are invoice lines, not
        individual ticket records.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/VenuePage'
        - $ref: '#/components/parameters/VenuePageSize'
        - name: invoice
          in: query
          description: Numeric invoice ID from the organization invoice response.
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Paginated invoice line items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganizationInvoiceItems'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/venue/{venueId}/financials/invoices/{transactionId}/:
    get:
      tags:
        - Private organization API
      operationId: getOrganizationInvoice
      summary: Get one organization order
      description: >-
        Returns the same invoice-level shape as the organization invoice list. `invoice_items` and
        `ticket_items` are not embedded in this response.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization order detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/venue/{venueId}/financials/invoices/{transactionId}/tickets/:
    get:
      tags:
        - Private organization API
      operationId: listOrganizationInvoiceTickets
      summary: List ticket barcodes for an organization order
      description: >-
        Returns the ticket barcode data for an organization order. The `barcode_string` value is the ticket
        barcode/QR payload used for scanning; it is not the ticket database ID. The response is ready only
        after post-purchase ticket generation has completed.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - name: transactionId
          in: path
          required: true
          description: Showpass invoice transaction ID.
          schema:
            type: string
      responses:
        '200':
          description: Ticket barcode data is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvoiceTickets'
        '202':
          description: Ticket generation is not complete yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvoiceTickets'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/venue/{venueId}/tickets/items/:
    get:
      tags:
        - Private organization API
      operationId: listOrganizationTicketItems
      summary: List organization ticket items
      description: >-
        Lists the detailed ticket records for the organization. Use the numeric `invoice` query parameter to
        retrieve holder, assigned-seat, status, transfer, and barcode fields for one order. This endpoint is
        read-only. A transferred original ticket remains visible with its transferred status; the recipient's
        replacement ticket is a separate ticket record.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/VenuePage'
        - $ref: '#/components/parameters/VenuePageSize'
        - name: invoice
          in: query
          description: Numeric invoice ID from the organization invoice response.
          schema:
            type: integer
            minimum: 1
        - name: event
          in: query
          description: Showpass event ID.
          schema:
            type: integer
            minimum: 1
        - name: type
          in: query
          description: Showpass ticket type ID.
          schema:
            type: integer
            minimum: 1
        - name: status
          in: query
          description: Numeric ticket status. Paid tickets use status `2`; transferred tickets use status `7`.
          schema:
            type: integer
        - name: barcode_string
          in: query
          description: Ticket barcode or scan-code value.
          schema:
            type: string
      responses:
        '200':
          description: Paginated detailed ticket items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganizationTicketItems'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/venue/{venueId}/tickets/items/{ticketId}/:
    get:
      tags:
        - Private organization API
      operationId: getOrganizationTicketItem
      summary: Get one organization ticket item
      description: >-
        Returns one detailed ticket record, including `name_on_ticket`, `seat`, `status`,
        `transfer_in_progress`, and `barcode_string`. The `seat` object is null for general-admission tickets.
        When present, `segment_identifier` is the section, `location_identifier` is the row, and `identifier`
        is the seat number.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - name: ticketId
          in: path
          required: true
          description: Numeric Showpass ticket-item ID.
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Detailed organization ticket item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTicketItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/venue/{venueId}/tickets/transfers/:
    get:
      tags:
        - Private organization API
      operationId: listOrganizationTicketTransfers
      summary: List organization ticket transfers
      description: >-
        Lists read-only ticket-transfer history for the organization. Use the `state` filter to inspect
        pending, cancelled, completed, or returned transfers. A completed transfer has a separate recipient
        invoice and replacement ticket records.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/VenuePage'
        - $ref: '#/components/parameters/VenuePageSize'
        - name: state
          in: query
          description: Transfer state.
          schema:
            type: string
            enum:
              - pending
              - cancelled
              - complete
              - returned
      responses:
        '200':
          description: Paginated organization ticket transfers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganizationTicketTransfers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/venue/{venueId}/tickets/transfers/{transferId}/:
    get:
      tags:
        - Private organization API
      operationId: getOrganizationTicketTransfer
      summary: Get one organization ticket transfer
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - name: transferId
          in: path
          required: true
          description: Numeric Showpass ticket-transfer ID.
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Organization ticket transfer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTicketTransfer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/venue/{venueId}/tickets/transfers/search-histories/:
    get:
      tags:
        - Private organization API
      operationId: searchOrganizationTicketTransferHistories
      summary: Search organization ticket-transfer histories
      description: >-
        Searches transfer history by sender or recipient email, or by customer-group ID. This endpoint is
        read-only and returns compact item summaries in addition to the transfer metadata.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/VenuePage'
        - $ref: '#/components/parameters/VenuePageSize'
        - name: email
          in: query
          description: Sender or recipient email. URL-encode the value.
          schema:
            type: string
            format: email
        - name: customer_group_id
          in: query
          description: Showpass customer-group ID.
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Paginated transfer-history search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganizationTicketTransferHistories'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/user/financials/invoices/v2/:
    get:
      tags:
        - Historical account
      operationId: listPatronOrders
      summary: List orders for the authenticated patron
      description: >-
        This is an account-scoped list and does not accept an event_id filter. Follow the next link for every
        page, then retrieve each transaction detail and filter its ticket_items.event or
        invoice_items.event.id.
      security:
        - JwtAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: is_group_sale__isnull
          in: query
          description: Use true to omit group-sale invoices from the list.
          schema:
            type: boolean
        - name: type__in
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated patron orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInvoices'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/user/financials/invoices/{transactionId}/transaction/:
    get:
      tags:
        - Historical account
      operationId: getPatronOrder
      summary: Get one patron order by transaction ID
      security:
        - JwtAuth: []
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order detail with event and ticket information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/user/tickets/items/:
    get:
      tags:
        - Historical account
      operationId: listPatronTickets
      summary: List tickets owned by the authenticated patron
      security:
        - JwtAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: invoice
          in: query
          description: Numeric invoice ID.
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated ticket items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTickets'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/user/tickets/events/{eventId}/:
    get:
      tags:
        - Historical account
      operationId: getPatronEventSummary
      summary: Get an event summary for the authenticated patron
      description: Returns the event and the patron's ticket count for it; use order detail reads to identify orders.
      security:
        - JwtAuth: []
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Event summary with the patron ticket count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatronEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/user/memberships/member-activity-histories/:
    get:
      tags:
        - Memberships
      operationId: listMembershipActivity
      summary: List authenticated patron membership activity
      security:
        - JwtAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Paginated membership activity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMembershipActivity'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/user/memberships/members/:
    get:
      tags:
        - Memberships
      operationId: listPatronMemberships
      summary: List memberships for the authenticated patron
      security:
        - JwtAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema:
            type: string
        - name: membership_group
          in: query
          schema:
            type: integer
        - name: membership_level
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Paginated memberships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMemberships'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/user/memberships/members/{memberId}/event-schedule/:
    get:
      tags:
        - Memberships
      operationId: getMembershipEventSchedule
      summary: Get events and issued tickets for a membership
      security:
        - JwtAuth: []
      parameters:
        - name: memberId
          in: path
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: past_events
          in: query
          description: Set true to return past events instead of upcoming events.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Paginated membership event schedule with ticket items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMembershipEvents'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/user/memberships/membership-benefit-accesses/:
    get:
      tags:
        - Memberships
      operationId: listMembershipBenefitAccess
      summary: List membership benefits and event access
      security:
        - JwtAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: member
          in: query
          required: true
          description: Membership member ID.
          schema:
            type: integer
        - name: unused
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Paginated membership benefit access records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBenefitAccess'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/user/financials/invoices/{invoiceId}/get-return-amounts/:
    get:
      tags:
        - Order actions
      operationId: getReturnAmounts
      summary: Calculate return amounts for selected tickets
      security:
        - JwtAuth: []
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
        - name: tickets
          in: query
          description: Comma-separated ticket item IDs.
          schema:
            type: string
        - name: is_resale
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Return calculation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnAmounts'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/user/financials/invoices/{invoiceId}/return/:
    post:
      tags:
        - Order actions
      operationId: returnTickets
      summary: Return selected tickets from an order
      security:
        - JwtAuth: []
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tickets
              properties:
                tickets:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Return accepted
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/public/discovery/:
    get:
      tags:
        - Public catalog
      operationId: listDiscoveryExperiences
      summary: Search public experiences
      description: >-
        Public experience listing for calendars, search pages, and event cards. Filter by venue or venue__in
        for Bullbustin. Browser origins must be allowlisted under organization settings. Use each result slug
        with the public event detail endpoint.
      security: []
      parameters:
        - name: search_string
          in: query
          required: false
          description: Search experience name, venue, and tags.
          schema:
            type: string
        - name: name__icontains
          in: query
          required: false
          description: Case-insensitive experience name search.
          schema:
            type: string
        - name: point_location
          in: query
          required: false
          description: Latitude, longitude, radius in kilometres.
          schema:
            type: string
            example: 51.0276233,-114.087835,15
        - name: venue
          in: query
          required: false
          schema:
            type: integer
        - name: venue__in
          in: query
          required: false
          description: Comma-separated IDs or values.
          schema:
            type: string
        - name: categories
          in: query
          required: false
          description: Comma-separated IDs or values.
          schema:
            type: string
        - name: tags
          in: query
          required: false
          description: Comma-separated IDs or values.
          schema:
            type: string
        - name: id__in
          in: query
          required: false
          description: Comma-separated IDs or values.
          schema:
            type: string
        - name: id
          in: query
          required: false
          schema:
            type: integer
        - name: voucher_code
          in: query
          required: false
          schema:
            type: string
        - name: is_featured
          in: query
          required: false
          schema:
            type: boolean
        - name: is_sponsored
          in: query
          required: false
          schema:
            type: boolean
        - name: is_protected_by_queue
          in: query
          required: false
          schema:
            type: boolean
        - name: showpass_gift_card
          in: query
          required: false
          schema:
            type: boolean
        - name: only_parents
          in: query
          required: false
          description: Use false to include recurring child experiences.
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
        - $ref: '#/components/parameters/Page'
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            description: Results per page.
            minimum: 1
            default: 20
        - name: starts_on__gte
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: starts_on__lte
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: starts_on__gt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: starts_on__lt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ends_on__gte
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ends_on__lte
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ends_on__gt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ends_on__lt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ordering
          in: query
          required: false
          description: >-
            Comma-separated is_sponsored, ranking_factor, starts_on, ends_on, id, or name. Prefix a field with
            - for descending order.
          schema:
            type: string
            default: '-is_sponsored,-ranking_factor,starts_on'
      responses:
        '200':
          description: Search public experiences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDiscoveryExperiences'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Browser origin is not permitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/tickets/items/scan/:
    get:
      tags:
        - Ticket scanning
      operationId: verifyTicketByCode
      summary: Verify a ticket by code
      description: >-
        Look up a ticket and its current state. Use the returned ticket item ID for scan history actions. This
        lookup does not perform entry pickup.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - name: code
          in: query
          required: true
          description: Barcode or code to verify.
          schema:
            type: string
        - name: permittedTypeIDs
          in: query
          required: false
          description: Comma-separated permitted ticket type IDs; omit instead of sending an empty string.
          schema:
            type: string
        - name: scannerTypeID
          in: query
          required: false
          description: Registered scanner device type ID.
          schema:
            type: integer
      responses:
        '200':
          description: Verify a ticket by code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifiedTicket'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Ticket not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Ticket scanning
      operationId: verifyTicketByCodePost
      summary: Verify a ticket with a request body
      description: >-
        Same verification as GET; accepts the code and permitted type IDs in JSON. Useful for a large
        permitted type list.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanTicketRequest'
            examples:
              code:
                value:
                  code: EXAMPLE-BARCODE
                  permittedTypeIDs: 3002,3003
      responses:
        '200':
          description: Verify a ticket with a request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifiedTicket'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Ticket not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/tickets/items/histories/:
    post:
      tags:
        - Ticket scanning
      operationId: createTicketScanHistory
      summary: Scan, undo a scan, or void a ticket
      description: >-
        First verify the ticket to obtain item and barcode_string. pickup marks it used subject to its
        multiscan limit; return undoes a previous scan; void invalidates an unused ticket. A scan return does
        not issue a financial refund. Invalid state transitions return a validation error.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanHistoryRequest'
            examples:
              pickup:
                summary: Scan for entry
                value:
                  item: 123
                  action: pickup
                  scanner_device: web_app
                  barcode_string: EXAMPLE-BARCODE
                  barcode_type: static
              return:
                summary: Undo a scan
                value:
                  item: 123
                  action: return
              void:
                summary: Invalidate an unused ticket
                value:
                  item: 123
                  action: void
      responses:
        '201':
          description: Scan, undo a scan, or void a ticket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanHistory'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/analytics/tracking/links/:
    get:
      tags:
        - Tracking links
      operationId: listTrackingLink
      summary: List tracking links
      description: >-
        Only user-generated employee, venue, affiliate, and quick purchase links are returned. Results include
        selling or owning venue links. Quick purchase (via=4) requires a nonempty extra array; include event
        with ticket_type, or product with product_attribute. All items must belong to one venue. Assigned
        seating is not supported by quick purchase links.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/Page'
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            description: Results per page.
            minimum: 1
            default: 20
        - name: search
          in: query
          required: false
          description: Description, referrer username, or slug.
          schema:
            type: string
        - name: via
          in: query
          required: false
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
        - name: event
          in: query
          required: false
          schema:
            type: integer
        - name: event__in
          in: query
          required: false
          description: Comma-separated event IDs.
          schema:
            type: string
        - name: event__ends_on__gte
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: event__ends_on__lte
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: List tracking links
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTrackingLink'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Tracking links
      operationId: createTrackingLink
      summary: Create tracking link
      description: >-
        Only user-generated employee, venue, affiliate, and quick purchase links are returned. Results include
        selling or owning venue links. Quick purchase (via=4) requires a nonempty extra array; include event
        with ticket_type, or product with product_attribute. All items must belong to one venue. Assigned
        seating is not supported by quick purchase links.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackingLinkRequest'
            examples:
              affiliate:
                value:
                  venue: 123
                  event: 456
                  via: 3
                  description: Bullbustin campaign
              quickPurchase:
                value:
                  venue: 123
                  event: 456
                  via: 4
                  extra:
                    - event: 456
                      ticket_type: 3002
                      quantity: 2
      responses:
        '201':
          description: Create tracking link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingLink'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/analytics/tracking/links/{id}/:
    get:
      tags:
        - Tracking links
      operationId: getTrackingLink
      summary: Get one tracking link
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Get one tracking link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingLink'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Tracking links
      operationId: updateTrackingLink
      summary: Update tracking link
      description: >-
        Only quick purchase links (via=4) can be updated. Other link types return 405. Include the required
        venue and via fields.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackingLinkRequest'
            examples:
              affiliate:
                value:
                  venue: 123
                  event: 456
                  via: 3
                  description: Bullbustin campaign
              quickPurchase:
                value:
                  venue: 123
                  event: 456
                  via: 4
                  extra:
                    - event: 456
                      ticket_type: 3002
                      quantity: 2
      responses:
        '200':
          description: Update tracking link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingLink'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Updating a non-quick-purchase link or deleting a link with completed purchases is not allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Tracking links
      operationId: deleteTrackingLink
      summary: Delete or deactivate tracking link
      description: Delete a link only if it has no completed referred purchases; otherwise returns 405.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '204':
          description: Delete or deactivate tracking link
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Updating a non-quick-purchase link or deleting a link with completed purchases is not allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/analytics/tracking/links/me/:
    get:
      tags:
        - Tracking links
      operationId: listMyTrackingLinks
      summary: List my tracking links
      description: >-
        Filters to links where referred_by matches the authenticated user; returns the same paginated shape as
        the main list.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/Page'
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            description: Results per page.
            minimum: 1
            default: 20
        - name: search
          in: query
          required: false
          description: Description, referrer username, or slug.
          schema:
            type: string
        - name: via
          in: query
          required: false
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
        - name: event
          in: query
          required: false
          schema:
            type: integer
        - name: event__in
          in: query
          required: false
          description: Comma-separated event IDs.
          schema:
            type: string
        - name: event__ends_on__gte
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: event__ends_on__lte
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: List my tracking links
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTrackingLink'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/financials/discounts/:
    get:
      tags:
        - Discounts
      operationId: listDiscount
      summary: List discounts
      description: >-
        Submitted codes are uppercased and unique per venue, case-insensitively. Standard codes use type=1 and
        a percentage or amount. Both checkout surfaces are allowed when allowed_checkouts is omitted. Use
        explicit venue or item permissions for the intended scope. Auto discounts require venue eligibility
        and discount_rules; non-auto discounts cannot include rules. Rules must use one limit_type with
        non-overlapping ranges and one nonzero discount value; provide both amount and percentage, setting the
        unused value to 0.00.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/Page'
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            description: Results per page.
            minimum: 1
            default: 20
        - name: search
          in: query
          required: false
          description: Search code or description.
          schema:
            type: string
        - name: ordering
          in: query
          required: false
          description: updated, created, id, or is_public; prefix with - for descending order.
          schema:
            type: string
            default: '-id'
        - name: id
          in: query
          required: false
          schema:
            type: integer
        - name: id__in
          in: query
          required: false
          schema:
            type: string
        - name: code
          in: query
          required: false
          schema:
            type: string
        - name: code__in
          in: query
          required: false
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            type: string
        - name: type__in
          in: query
          required: false
          schema:
            type: string
        - name: is_public
          in: query
          required: false
          schema:
            type: boolean
        - name: events
          in: query
          required: false
          schema:
            type: string
        - name: event_discount_permissions__event
          in: query
          required: false
          schema:
            type: integer
        - name: event_discount_permissions__event__in
          in: query
          required: false
          schema:
            type: string
        - name: tt_discount_permissions__ticket_type
          in: query
          required: false
          schema:
            type: integer
        - name: tt_discount_permissions__ticket_type__in
          in: query
          required: false
          schema:
            type: string
        - name: reference
          in: query
          required: false
          schema:
            type: string
        - name: reference__in
          in: query
          required: false
          schema:
            type: string
        - name: possessor__email
          in: query
          required: false
          schema:
            type: string
        - name: invoice__email
          in: query
          required: false
          schema:
            type: string
        - name: bulk_order
          in: query
          required: false
          schema:
            type: integer
        - name: bulk_order__isnull
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: List discounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDiscount'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Discounts
      operationId: createDiscount
      summary: Create discount
      description: >-
        Submitted codes are uppercased and unique per venue, case-insensitively. Standard codes use type=1 and
        a percentage or amount. Both checkout surfaces are allowed when allowed_checkouts is omitted. Use
        explicit venue or item permissions for the intended scope. Auto discounts require venue eligibility
        and discount_rules; non-auto discounts cannot include rules. Rules must use one limit_type with
        non-overlapping ranges and one nonzero discount value; provide both amount and percentage, setting the
        unused value to 0.00.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscountRequest'
            examples:
              eventPromotion:
                value:
                  code: BULLBUSTIN25
                  type: 1
                  percentage: '25.00'
                  amount: '0.00'
                  limit: 100
                  is_public: true
                  permission_type: disc_level_ticket_type
                  event_discount_permissions:
                    - event: 456
                      tt_discount_permissions:
                        - ticket_type: 3002
              autoDiscount:
                value:
                  type: 8
                  permission_type: disc_level_venue
                  discount_rules:
                    - venue: 123
                      limit_type: 2
                      minimum_limit: '4.00'
                      maximum_limit: null
                      amount: '0.00'
                      percentage: '10.00'
      responses:
        '201':
          description: Create discount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discount'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/financials/discounts/{id}/:
    get:
      tags:
        - Discounts
      operationId: getDiscount
      summary: Get one discount
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Get one discount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discount'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Discounts
      operationId: updateDiscount
      summary: Update discount
      description: >-
        The discount type cannot change. After a discount has been used, its code, amount, and percentage
        cannot change. Set is_public=false to stop redemption while retaining the record.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscountRequest'
            examples:
              eventPromotion:
                value:
                  code: BULLBUSTIN25
                  type: 1
                  percentage: '25.00'
                  amount: '0.00'
                  limit: 100
                  is_public: true
                  permission_type: disc_level_ticket_type
                  event_discount_permissions:
                    - event: 456
                      tt_discount_permissions:
                        - ticket_type: 3002
              autoDiscount:
                value:
                  type: 8
                  permission_type: disc_level_venue
                  discount_rules:
                    - venue: 123
                      limit_type: 2
                      minimum_limit: '4.00'
                      maximum_limit: null
                      amount: '0.00'
                      percentage: '10.00'
      responses:
        '200':
          description: Update discount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discount'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Discounts
      operationId: deleteDiscount
      summary: Delete or deactivate discount
      description: Soft-delete the discount and set is_public=false. It is removed from normal list and detail responses.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '204':
          description: Delete or deactivate discount
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/passwords/:
    get:
      tags:
        - Access passwords
      operationId: listAccessPassword
      summary: List access passwords
      description: >-
        Create one password per request. Choose ticket_type or event_id, never both. ticket_type_ids restricts
        event-scoped access to selected ticket types. Configure start_time and is_active for activation.
        Event-scoped passwords on recurring parents propagate bindings to child events. event_id is accepted
        on writes but not returned. List responses are arrays unless page_size is supplied.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/Page'
        - name: page_size
          in: query
          required: false
          description: Omit for an array; provide for a paginated response.
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: List access passwords
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/AccessPassword'
                  - $ref: '#/components/schemas/PaginatedAccessPassword'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Access passwords
      operationId: createAccessPassword
      summary: Create access password
      description: >-
        Create one password per request. Choose ticket_type or event_id, never both. ticket_type_ids restricts
        event-scoped access to selected ticket types. Configure start_time and is_active for activation.
        Event-scoped passwords on recurring parents propagate bindings to child events. event_id is accepted
        on writes but not returned. List responses are arrays unless page_size is supplied.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPasswordRequest'
            examples:
              ticketType:
                value:
                  password: BULLBUSTIN-ACCESS
                  ticket_type: 3002
                  is_active: true
                  start_time: '2026-09-09T00:00:00Z'
                  max_item_purchase_limit: 1
              selectedEventTypes:
                value:
                  password: BULLBUSTIN-PRESALE
                  event_id: 456
                  ticket_type_ids:
                    - 3002
                    - 3003
                  is_active: true
                  start_time: '2026-09-09T00:00:00Z'
                  end_time: null
      responses:
        '201':
          description: Create access password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPassword'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/passwords/{id}/:
    get:
      tags:
        - Access passwords
      operationId: getAccessPassword
      summary: Get one access password
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Get one access password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPassword'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Access passwords
      operationId: updateAccessPassword
      summary: Update access password
      description: >-
        Update the access code or its activation window. Set is_active=false to retain the record while
        disabling access. Send password in PUT requests. Do not combine ticket_type and event_id.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPasswordRequest'
            examples:
              ticketType:
                value:
                  password: BULLBUSTIN-ACCESS
                  ticket_type: 3002
                  is_active: true
                  start_time: '2026-09-09T00:00:00Z'
                  max_item_purchase_limit: 1
              selectedEventTypes:
                value:
                  password: BULLBUSTIN-PRESALE
                  event_id: 456
                  ticket_type_ids:
                    - 3002
                    - 3003
                  is_active: true
                  start_time: '2026-09-09T00:00:00Z'
                  end_time: null
      responses:
        '200':
          description: Update access password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPassword'
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Access passwords
      operationId: deleteAccessPassword
      summary: Delete or deactivate access password
      description: >-
        For an event-scoped password, include event_id to remove the intended event binding and refresh
        password protection. Direct ticket type deletion deactivates the ticket type relation.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/ResourceId'
        - name: event_id
          in: query
          required: false
          description: Required for deleting the intended event-scoped binding; omit for direct ticket type passwords.
          schema:
            type: integer
      responses:
        '201':
          description: Password binding removed or deactivated.
          content:
            application/json:
              schema:
                type: object
                example: {}
        '400':
          description: Invalid request fields or operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid credentials or insufficient scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/tickets/baskets/:
    post:
      tags:
        - Held baskets and hold links
      operationId: createBasketForHold
      summary: Create a basket for a hold
      description: >-
        ### Create and share a hold link


        1. Create a basket with the desired ticket type IDs and quantities. Save the returned numeric `id`.

        2. POST to `/api/venue/{venueId}/tickets/baskets/{basketId}/hold/` with `{"hold_type":"basic_hold"}`.

        3. A `200` response with `{}` means synchronous completion. A `201` response with `job_id`
        acknowledges queued work, not a completed hold. Retrieve the basket with bounded retries and backoff
        until its hold status and link are ready. If it does not become ready, stop and check the hold in the
        organizer dashboard.


        4. Retrieve the basket. Confirm `status: 10` and read `on_hold_detail.tracking_link_url`, falling back
        to `hold_url`. If neither is present, the link is not ready; do not construct a URL from the basket
        ID. A hold response does not itself contain the link.

        5. Open or share the returned URL for the customer to complete hosted checkout. Creating a hold does
        not charge the customer or issue purchased tickets. Optionally use the separate hold link email
        action.

        6. Release the hold with the release endpoint. Release returns a background job.
        Confirm release in the organizer dashboard before
        treating the inventory as available again.


        Use the same authenticated server-side client through the workflow. Basket access is limited to the
        active session or baskets sold by the caller. Held basket access also applies hold-management and
        seller visibility rules. Box office permission is required for basket creation; hold management is
        required for hold actions. A token must be authorized for the venue and operation.


        The example below is a general admission ticket hold. Replace the example IDs with the desired venue
        and ticket type. Event-required customer fields, inventory limits, and allocation rules still apply.
        Hold expiry and complimentary hold links depend on venue/environment enablement; their availability
        has not been verified for Bullbustin.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HoldBasketCreateRequest'
            examples:
              tickets:
                summary: Reserve two general admission tickets for a customer
                value:
                  item_groups:
                    - item_type: ticket
                      type: 3002
                      quantity: 2
                  info_first_name: Example
                  info_last_name: Customer
                  info_email: customer@example.com
                  email: customer@example.com
      responses:
        '201':
          description: Basket created. Use its id in the hold action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldBasket'
        '400':
          description: Invalid input, basket state, inventory, or configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient venue scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Basket not found or unavailable to the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/tickets/baskets/{basketId}/:
    get:
      tags:
        - Held baskets and hold links
      operationId: getBasketForHold
      summary: Retrieve a basket and its hold link
      description: >-
        Retrieve the current basket after requesting hold creation. Confirm status=10 before sharing
        on_hold_detail.tracking_link_url or the legacy hold_url. Existing basket visibility restrictions
        apply.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/HoldBasketId'
      responses:
        '200':
          description: Current basket, including hold metadata when available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldBasket'
        '400':
          description: Invalid input, basket state, inventory, or configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient venue scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Basket not found or unavailable to the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Held baskets and hold links
      operationId: updateBasketForHold
      summary: Edit a basket before placing it on hold
      description: >-
        Read the basket first, then send its complete desired item_groups list with existing group IDs and the
        customer, seller, and allocation settings you need to retain. Omitted groups are removed. Inventory,
        sale windows, event requirements, and hold restrictions are validated again. The example covers
        general admission tickets. Echo the
        latest checkout_idempotency_key from GET; keep the updated key returned by a successful PUT. A stale
        key or concurrent update can return 400 when idempotency checks are enabled. Caller session and seller
        scope apply.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/HoldBasketId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HoldBasketEditRequest'
            examples:
              tickets:
                summary: Update a two-ticket general admission basket; replace IDs and version key with GET values
                value:
                  item_groups:
                    - id: 41001
                      item_type: ticket
                      type: 3002
                      quantity: 2
                  email: customer@example.com
                  name_on_ticket: Example Customer
                  sold_by: 2001
                  payment_type: 2
                  checkout_idempotency_key: 3923b297-bb15-422e-94b6-e26af9d6d6ba
      responses:
        '200':
          description: Updated basket and current version key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldBasket'
        '400':
          description: Invalid input, basket state, inventory, or configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient venue scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Requested basket or hold details not found or unavailable to the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/tickets/baskets/{basketId}/hold/:
    post:
      tags:
        - Held baskets and hold links
      operationId: placeBasketOnHold
      summary: Place a basket on hold
      description: >-
        Call after creating the basket. basic_hold is the default. The synchronous response is an empty
        object; retrieve the basket for its link. The asynchronous response contains job_id; retrieve the
        basket with bounded retries and backoff, and confirm status=10 and a returned hold link before sharing
        it. If it does not become ready, check the organizer dashboard. An invalid status, hold type,
        insufficient inventory, or unavailable optional feature returns 400. Expiry must be in the future when
        provided.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/HoldBasketId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceBasketOnHoldRequest'
            examples:
              basic:
                value:
                  hold_type: basic_hold
              expiry:
                summary: Optional scheduled expiry; replace with your future timestamp
                value:
                  hold_type: basic_hold
                  hold_expiry_date: '2027-01-01T00:00:00Z'
              dynamic:
                summary: Shared allocation hold, subject to eligibility
                value:
                  hold_type: dynamic_hold
      responses:
        '200':
          description: Hold created synchronously.
          content:
            application/json:
              schema:
                type: object
                example: {}
        '201':
          description: Hold creation queued; retrieve the basket to confirm hold status and link readiness.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldBackgroundJob'
        '400':
          description: Invalid input, basket state, inventory, or configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient venue scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Basket not found or unavailable to the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/tickets/baskets/holds/:
    get:
      tags:
        - Held baskets and hold links
      operationId: listHeldBaskets
      summary: List held baskets
      description: >-
        Returns only baskets currently on hold, with pagination defaulting to 20. Unless the caller has
        unrestricted or manage-all-holds access, results are restricted to holds created by that seller.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/Page'
        - in: query
          name: page_size
          schema:
            type: integer
            minimum: 1
            default: 20
        - in: query
          name: search
          schema:
            type: string
          description: Search email or name.
        - in: query
          name: name_on_ticket
          schema:
            type: string
          description: Case-insensitive name match.
        - in: query
          name: email
          schema:
            type: string
          description: Case-insensitive email match.
        - in: query
          name: event_id
          schema:
            type: string
          description: Comma-separated event IDs.
        - in: query
          name: id
          schema:
            type: integer
        - in: query
          name: id__in
          schema:
            type: string
          description: Comma-separated basket IDs.
      responses:
        '200':
          description: Paginated held baskets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedHeldBaskets'
        '400':
          description: Invalid input, basket state, inventory, or configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient venue scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Basket not found or unavailable to the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/tickets/baskets/holds/{basketId}/:
    get:
      tags:
        - Held baskets and hold links
      operationId: getHeldBasket
      summary: Retrieve a held basket
      description: >-
        Retrieve a currently held basket using the held-basket visibility and permission rules. A basket that
        has left hold status will no longer appear here.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/HoldBasketId'
      responses:
        '200':
          description: Held basket and customer checkout link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldBasket'
        '400':
          description: Invalid input, basket state, inventory, or configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient venue scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Basket not found or unavailable to the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Held baskets and hold links
      operationId: updateHeldBasket
      summary: Edit a held basket
      description: >-
        Read the basket first, then send its complete desired item_groups list with existing group IDs and the
        customer, seller, and allocation settings you need to retain. Omitted groups are removed. Inventory,
        sale windows, event requirements, and hold restrictions are validated again. The example covers
        general admission tickets. Requires
        box office and manage-holds permissions. Seller visibility restrictions still apply. This route
        serializes edits but does not enforce the regular basket version-key check.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/HoldBasketId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HoldBasketEditRequest'
            examples:
              tickets:
                summary: Update a two-ticket general admission basket; replace IDs and version key with GET values
                value:
                  item_groups:
                    - id: 41001
                      item_type: ticket
                      type: 3002
                      quantity: 2
                  email: customer@example.com
                  name_on_ticket: Example Customer
                  sold_by: 2001
                  payment_type: 2
      responses:
        '200':
          description: Updated held basket.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldBasket'
        '400':
          description: Invalid input, basket state, inventory, or configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient venue scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Requested basket or hold details not found or unavailable to the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/tickets/baskets/holds/{basketId}/release/:
    post:
      tags:
        - Held baskets and hold links
      operationId: releaseHeldBasket
      summary: Release a held basket
      description: >-
        Queues release of the held inventory. No request body is required. The 201 response acknowledges
        queued work, not completed release. Stop sharing the hold link when requesting release, and confirm
        release in the organizer dashboard before treating the inventory as available again.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/HoldBasketId'
      responses:
        '201':
          description: Release queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldBackgroundJob'
        '400':
          description: Invalid input, basket state, inventory, or configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient venue scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Basket not found or unavailable to the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/tickets/baskets/holds/{basketId}/send-hold-link-email/:
    post:
      tags:
        - Held baskets and hold links
      operationId: sendHeldBasketLinkEmail
      summary: Email the hold link to the customer
      description: >-
        Optional delivery action. Requires an email address already saved on the basket and an available hold
        link. Recipient is taken from the basket, not a request email field. An empty JSON object uses
        existing settings. The response queues delivery; it does not confirm that the email has reached the
        customer.
      security:
        - OrganizationToken: []
      parameters:
        - $ref: '#/components/parameters/VenueId'
        - $ref: '#/components/parameters/HoldBasketId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HoldLinkEmailRequest'
            examples:
              existingSettings:
                value: {}
              message:
                value:
                  message_to_customer: Your Bullbustin tickets are reserved. Complete checkout using the link.
                  language: en
      responses:
        '201':
          description: Email delivery queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldBackgroundJob'
        '400':
          description: Invalid input, basket state, inventory, or configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient venue scope or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Basket not found or unavailable to the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Hold link email rate limit exceeded; retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/venue/{venueId}/tickets/baskets/holds/{basketId}/split/:
    post:
[...]
